<h2>Edit Existing Post</h2>
<%= form_tag post_path(@post), :method => :put do %>
  <%= label :post, :title, 'Title', :class => 'col-form-label' %>
  <%= text_field :post, :title, :class => 'form-control' %>
  <%= label :post, :price, 'Price', :class => 'col-form-label'  %>
  <%= number_field :post, :price, :class => 'form-control' %>
  <%= label :post, :description, 'Description', :class => 'col-form-label'  %>
  <%= text_field :post, :description, :class => 'form-control' %>
  <br/>
  <%= submit_tag 'Update Post Info', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', posts_path, :class => 'btn btn-secondary' %>
<% end %>